* {
    box-sizing: border-box;
}

body {
    background-color: #EEF9BF;

    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    font-family: Roboto;
    font-size: 56px;
    font-weight: 700;
    line-height: 66px;
    letter-spacing: -0.004em;

    text-transform: uppercase;

    color: #75B79E;

    width: 100%;

    text-align: center;
    padding-top: 40px;
    padding-bottom: 45px;
}

main {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 35px;

    
    width: 60%;
}

.cartao {
    width: 117px;
    height: 146px;

    border-radius: 5px;
    border: 2px solid #99cea8;

    background-color: #a7e9af;

    position: relative;

    transform-style: preserve-3d;
    transition: 1s;
}

.cartao:active {
    transform: scale(1.1);
    transition: 0s;
}

.cartao.virar {
    transform: rotateY(180deg);
}

.cartao-frente, .cartao-verso{
    width: 100px;
    height: 100px;

    position: absolute;
    top: 20px;
    left: 7px;
}

.cartao-frente {
    transform: rotateY(180deg);
}

section {
    position: fixed;
    top: 40px;
    right: 40px;

    font-family: Roboto;
    font-size: 40px;
    font-weight: 700;
    line-height: 66px;
    letter-spacing: -0.004em;

    color: #75B79E;
}